extends layout

block content
  h1 Team NGNL
  p Founded by: Michael Qu, Arthur Silverstein, George Lee
  p Active Members: Michael Qu, Arthur Silverstein, George Lee, Gary Ge
  p Inactive Members: Kartik Vinayak
  p Hononary Members: Leland Wei, Bryan Manuele, Anutam Sethuraman
